input:focus {
    border-color: blue;
}

.paragraph{
    border-left: 3px solid green;
    color: blueviolet;
    padding: 5px;
}

body{
    background-color: antiquewhite;
}
.normal-space {
    white-space: normal;
}
.nowrap-space {
    white-space: nowrap;
}
.pre-space {
    white-space: pre;
}
.pre-wrap-space {
    white-space: pre-wrap;
}
.pre-line-space {
    white-space: pre-line;
}

.fa-brands{
    color: rgb(24, 119, 242);
    padding: 5px;
    font-size: 20px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24;
  color: brown;
}

ul.a{
    list-style-type:decimal-leading-zero;
    list-style-position: outside;
}

.name_box{
    border: 2px solid black;
    width: 300px;
    background-color:blueviolet ;
    border-radius: 20px;
    box-shadow: 10px 10px 50px ;
}

.name_box p{
    color: antiquewhite;
    margin: auto;
    padding: 20px;
}

.name_box:hover{
    transform: translateY(-20px);
}
